<section class="gallery section" id="gallery">
  <div class="gallery__container">
    <div class="gallery__grid gallery__grid-style" data-grid="" style="position: relative">
      <div class="gallery__grid-items gallery__grid-item1 " data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
            ./images/gallery/desktop/masonry/pic5.webp   1x,
            ./images/gallery/desktop/masonry/pic5@2x.webp 2x
          " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
            ./images/gallery/desktop/masonry/pic5.png    1x,
            ./images/gallery/desktop/masonry/pic5@2x.png 2x
          " media="(min-width:1200px)" />
          <source srcset="
            ./images/gallery/tablet/masonry/pic5-tab.webp    1x,
            ./images/gallery/tablet/masonry/pic5-tab@2x.webp 2x
          " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
            ./images/gallery/tablet/masonry/pic5-tab.png    1x,
            ./images/gallery/tablet/masonry/pic5-tab@2x.png 2x
          " media="(min-width:768px)" />
          <source srcset="
            ./images/gallery/mobile/masonry/pic5-mob.webp    1x,
            ./images/gallery/mobile/masonry/pic5-mob@2x.webp 2x
          " type="image/webp" media="(max-width:767px)" />
          <source srcset="
            ./images/gallery/mobile/masonry/pic5-mob.png    1x,
            ./images/gallery/mobile/masonry/pic5-mob@2x.png 2x
          " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic5.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item2" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                ./images/gallery/desktop/masonry/pic4.webp   1x,
                ./images/gallery/desktop/masonry/pic4@2x.webp 2x
              " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                ./images/gallery/desktop/masonry/pic4.png    1x,
                ./images/gallery/desktop/masonry/pic4@2x.png 2x
              " media="(min-width:1200px)" />
          <source srcset="
                ./images/gallery/tablet/masonry/pic4-tab.webp    1x,
                ./images/gallery/tablet/masonry/pic4-tab@2x.webp 2x
              " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                ./images/gallery/tablet/masonry/pic4-tab.png    1x,
                ./images/gallery/tablet/masonry/pic4-tab@2x.png 2x
              " media="(min-width:768px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic4-mob.webp    1x,
                ./images/gallery/mobile/masonry/pic4-mob@2x.webp 2x
              " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic4-mob.png    1x,
                ./images/gallery/mobile/masonry/pic4-mob@2x.png 2x
              " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic4.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item3" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                ./images/gallery/desktop/masonry/pic1.webp   1x,
                ./images/gallery/desktop/masonry/pic1@2x.webp 2x
              " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                ./images/gallery/desktop/masonry/pic1.png    1x,
                ./images/gallery/desktop/masonry/pic1@2x.png 2x
              " media="(min-width:1200px)" />
          <source srcset="
                ./images/gallery/tablet/masonry/pic1-tab.webp    1x,
                ./images/gallery/tablet/masonry/pic1-tab@2x.webp 2x
              " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                ./images/gallery/tablet/masonry/pic1-tab.png    1x,
                ./images/gallery/tablet/masonry/pic1-tab@2x.png 2x
              " media="(min-width:768px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic1-mob.webp    1x,
                ./images/gallery/mobile/masonry/pic1-mob@2x.webp 2x
              " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic1-mob.png    1x,
                ./images/gallery/mobile/masonry/pic1-mob@2x.png 2x
              " media="(max-width:767px)" />
          <img src="
          ./images/gallery/desktop/masonry/pic1.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item4" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                ./images/gallery/desktop/masonry/pic9.webp   1x,
                ./images/gallery/desktop/masonry/pic9@2x.webp 2x
              " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                ./images/gallery/desktop/masonry/pic9.png    1x,
                ./images/gallery/desktop/masonry/pic9@2x.png 2x
              " media="(min-width:1200px)" />
          <source srcset="
                ./images/gallery/tablet/masonry/pic9-tab.webp    1x,
                ./images/gallery/tablet/masonry/pic9-tab@2x.webp 2x
              " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                ./images/gallery/tablet/masonry/pic9-tab.png    1x,
                ./images/gallery/tablet/masonry/pic9-tab@2x.png 2x
              " media="(min-width:768px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic9-mob.webp    1x,
                ./images/gallery/mobile/masonry/pic9-mob@2x.webp 2x
              " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic9-mob.png    1x,
                ./images/gallery/mobile/masonry/pic9-mob@2x.png 2x
              " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic9.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item5" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                ./images/gallery/desktop/masonry/pic10.webp   1x,
                ./images/gallery/desktop/masonry/pic10@2x.webp 2x
              " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                ./images/gallery/desktop/masonry/pic10.png    1x,
                ./images/gallery/desktop/masonry/pic10@2x.png 2x
              " media="(min-width:1200px)" />
          <source srcset="
                ./images/gallery/tablet/masonry/pic10-tab.webp    1x,
                ./images/gallery/tablet/masonry/pic10-tab@2x.webp 2x
              " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                ./images/gallery/tablet/masonry/pic10-tab.png    1x,
                ./images/gallery/tablet/masonry/pic10-tab@2x.png 2x
              " media="(min-width:768px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic10-mob.webp    1x,
                ./images/gallery/mobile/masonry/pic10-mob@2x.webp 2x
              " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                ./images/gallery/mobile/masonry/pic10-mob.png    1x,
                ./images/gallery/mobile/masonry/pic10-mob@2x.png 2x
              " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic10.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item6" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                  ./images/gallery/desktop/masonry/pic11.webp   1x,
                  ./images/gallery/desktop/masonry/pic11@2x.webp 2x
                " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                  ./images/gallery/desktop/masonry/pic11.png    1x,
                  ./images/gallery/desktop/masonry/pic11@2x.png 2x
                " media="(min-width:1200px)" />
          <source srcset="
                  ./images/gallery/tablet/masonry/pic11-tab.webp    1x,
                  ./images/gallery/tablet/masonry/pic11-tab@2x.webp 2x
                " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                  ./images/gallery/tablet/masonry/pic11-tab.png    1x,
                  ./images/gallery/tablet/masonry/pic11-tab@2x.png 2x
                " media="(min-width:768px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic11-mob.webp    1x,
                  ./images/gallery/mobile/masonry/pic11-mob@2x.webp 2x
                " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic11-mob.png    1x,
                  ./images/gallery/mobile/masonry/pic11-mob@2x.png 2x
                " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic11.webp  
          " type="image/webp"" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item7" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                  ./images/gallery/desktop/masonry/pic6.webp   1x,
                  ./images/gallery/desktop/masonry/pic6@2x.webp 2x
                " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                  ./images/gallery/desktop/masonry/pic6.png    1x,
                  ./images/gallery/desktop/masonry/pic6@2x.png 2x
                " media="(min-width:1200px)" />
          <source srcset="
                  ./images/gallery/tablet/masonry/pic6-tab.webp    1x,
                  ./images/gallery/tablet/masonry/pic6-tab@2x.webp 2x
                " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                  ./images/gallery/tablet/masonry/pic6-tab.png    1x,
                  ./images/gallery/tablet/masonry/pic6-tab@2x.png 2x
                " media="(min-width:768px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic6-mob.webp    1x,
                  ./images/gallery/mobile/masonry/pic6-mob@2x.webp 2x
                " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic6-mob.png    1x,
                  ./images/gallery/mobile/masonry/pic6-mob@2x.png 2x
                " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic6.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item8" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                  ./images/gallery/desktop/masonry/pic7.webp   1x,
                  ./images/gallery/desktop/masonry/pic7@2x.webp 2x
                " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                  ./images/gallery/desktop/masonry/pic7.png    1x,
                  ./images/gallery/desktop/masonry/pic7@2x.png 2x
                " media="(min-width:1200px)" />
          <source srcset="
                  ./images/gallery/tablet/masonry/pic7-tab.webp    1x,
                  ./images/gallery/tablet/masonry/pic7-tab@2x.webp 2x
                " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                  ./images/gallery/tablet/masonry/pic7-tab.png    1x,
                  ./images/gallery/tablet/masonry/pic7-tab@2x.png 2x
                " media="(min-width:768px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic7-mob.webp    1x,
                  ./images/gallery/mobile/masonry/pic7-mob@2x.webp 2x
                " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic7-mob.png    1x,
                  ./images/gallery/mobile/masonry/pic7-mob@2x.png 2x
                " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic7.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item9" data-packed="" style="  position: absolute">
        <picture>
          <source srcset="
                  ./images/gallery/desktop/masonry/pic8.webp   1x,
                  ./images/gallery/desktop/masonry/pic8@2x.webp 2x
                " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                  ./images/gallery/desktop/masonry/pic8.png    1x,
                  ./images/gallery/desktop/masonry/pic8@2x.png 2x
                " media="(min-width:1200px)" />
          <source srcset="
                  ./images/gallery/tablet/masonry/pic8-tab.webp    1x,
                  ./images/gallery/tablet/masonry/pic8-tab@2x.webp 2x
                " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                  ./images/gallery/tablet/masonry/pic8-tab.png    1x,
                  ./images/gallery/tablet/masonry/pic8-tab@2x.png 2x
                " media="(min-width:768px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic8-mob.webp    1x,
                  ./images/gallery/mobile/masonry/pic8-mob@2x.webp 2x
                " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic8-mob.png    1x,
                  ./images/gallery/mobile/masonry/pic8-mob@2x.png 2x
                " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic8.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
      <div class="gallery__grid-items gallery__grid-item10" data-packed="" style=" position: absolute ">
        <picture>
          <source srcset="
                  ./images/gallery/desktop/masonry/pic12.webp   1x,
                  ./images/gallery/desktop/masonry/pic12@2x.webp 2x
                " type="image/webp" media="(min-width:1200px)" />
          <sourc srcset="
                  ./images/gallery/desktop/masonry/pic12.png    1x,
                  ./images/gallery/desktop/masonry/pic12@2x.png 2x
                " media="(min-width:1200px)" />
          <source srcset="
                  ./images/gallery/tablet/masonry/pic12-tab.webp    1x,
                  ./images/gallery/tablet/masonry/pic12-tab@2x.webp 2x
                " type="image/webp" media="(min-width:768px)" />
          <sourc srcset="
                  ./images/gallery/tablet/masonry/pic12-tab.png    1x,
                  ./images/gallery/tablet/masonry/pic12-tab@2x.png 2x
                " media="(min-width:768px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic12-mob.webp    1x,
                  ./images/gallery/mobile/masonry/pic12-mob@2x.webp 2x
                " type="image/webp" media="(max-width:767px)" />
          <source srcset="
                  ./images/gallery/mobile/masonry/pic12-mob.png    1x,
                  ./images/gallery/mobile/masonry/pic12-mob@2x.png 2x
                " media="(max-width:767px)" />
          <img src="./images/gallery/desktop/masonry/pic12.webp  
          " type="image/webp" alt="галерея картинок мороженого" />
        </picture>
      </div>
    </div>
</section>
