// .gallery {
//   background-image: linear-gradient(#fff5f6 14%, #fff 14%);
//   padding-top: 0;

//   @media screen and(min-width:768px) {
//     background-image: linear-gradient(#fff5f6 48%, #fff 48%);
//   }

//   @media screen and(min-width:1200px) {
//     background-image: linear-gradient(#fff5f6 27%, #fff 27%);
//     padding-top: 60px;
//   }
// }

// .gallery__container {
//   margin: 0 auto;
//   max-width: 480px;

//   @media screen and(min-width:768px) {
//     max-width: 768px;
//   }

//   @media screen and(min-width:1200px) {
//     max-width: 1013px;
//     margin: 0 auto;
//   }
// }

.gallery {
  background-image: linear-gradient(#fff5f6 14%, #fff 14%);
  padding-top: 0;

  @media screen and(min-width:768px) {
    background-image: linear-gradient(#fff5f6 48%, #fff 48%);
  }

  @media screen and(min-width:1200px) {
    background-image: linear-gradient(#fff5f6 27%, #fff 27%);
    padding-top: 60px;
  }
}

.gallery__container {
  margin: 0 auto;
  max-width: 480px;

  @media screen and(min-width:768px) {
    max-width: 768px;
  }

  @media screen and(min-width:1200px) {
    max-width: 1013px;
    margin: 0 auto;
  }
}
.grid {
  color: #3d1e37;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 20px;

  vertical-align: baseline;
  margin-right: auto;
  margin-left: auto;

  position: relative;
  max-width: 320px;
  height: 136px;
}

.grid-item1 {
  height: 43px;
  width: 43px;
  top: 45px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item2 {
  height: 43px;
  width: 43px;
  top: 28px;
  left: 46px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item3 {
  height: 89px;
  width: 89px;
  top: 0px;
  left: 92px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item4 {
  height: 43px;
  width: 43px;
  top: 31px;
  left: 184px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item5 {
  height: 43px;
  width: 43px;
  top: 20px;
  left: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item6 {
  height: 43px;
  width: 43px;
  top: 49px;
  left: 276px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item7 {
  height: 43px;
  width: 43px;
  bottom: 18px;
  left: 46px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item8 {
  height: 43px;
  width: 43px;
  bottom: 0px;
  left: 92px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item9 {
  height: 43px;
  width: 43px;
  bottom: 14px;
  left: 184px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item10 {
  height: 43px;
  width: 43px;
  bottom: 25px;
  left: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .grid {
    max-width: 768px;
    height: 326px;
  }
  .grid-item1 {
    height: 105px;
    width: 105px;
    top: 108px;
    left: 0px;
  }
  .grid-item2 {
    height: 105px;
    width: 105px;
    top: 67px;
    left: 111px;
  }
  .grid-item3 {
    height: 215px;
    width: 215px;
    top: 0px;
    left: 221px;
  }
  .grid-item4 {
    height: 105px;
    width: 105px;
    top: 75px;
    left: 442px;
  }
  .grid-item5 {
    height: 105px;
    width: 105px;
    top: 50px;
    left: 552px;
  }
  .grid-item6 {
    height: 105px;
    width: 105px;
    top: 117px;
    left: 663px;
  }
  .grid-item7 {
    height: 105px;
    width: 105px;
    bottom: 44px;
    left: 110px;
  }
  .grid-item8 {
    height: 105px;
    width: 105px;
    bottom: 0px;
    left: 221px;
  }
  .grid-item9 {
    height: 105px;
    width: 105px;
    bottom: 35px;
    left: 441px;
  }
  .grid-item10 {
    height: 105px;
    width: 105px;
    bottom: 60px;
    left: 552px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    max-width: 1013px;
    height: 430px;
  }
  .grid-item1 {
    height: 138px;
    width: 138px;
    top: 142px;
    left: 0px;
  }
  .grid-item2 {
    height: 138px;
    width: 138px;
    top: 88px;
    left: 146px;
  }
  .grid-item3 {
    height: 283px;
    width: 283px;
    top: 0px;
    left: 292px;
  }
  .grid-item4 {
    height: 138px;
    width: 138px;
    top: 98px;
    left: 583px;
  }
  .grid-item5 {
    height: 138px;
    width: 138px;
    top: 65px;
    left: 729px;
  }
  .grid-item6 {
    height: 138px;
    width: 138px;
    top: 154px;
    left: 875px;
  }
  .grid-item7 {
    height: 138px;
    width: 138px;
    bottom: 57px;
    left: 146px;
  }
  .grid-item8 {
    height: 138px;
    width: 138px;
    bottom: 0px;
    left: 292px;
  }
  .grid-item9 {
    height: 138px;
    width: 138px;
    bottom: 45px;
    left: 582px;
  }
  .grid-item10 {
    height: 138px;
    width: 138px;
    bottom: 78px;
    left: 729px;
  }
}
